node_modules
.pnpm-store
.env
.env.local
*.log
coverage
.next
dist
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal

**/tsconfig.tsbuildinfo
node_modules/
**/node_modules/
.next/
**/.next/
dist/
**/dist/
build/
**/build/
apps/api/prisma/prisma/dev.db
apps/api/prisma/prisma/dev.db-journal
